*.glo
*.idx
*.ist
*.minted
*.synctex(busy)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.tmp
*.ipynb
*.vscode
settings.json
**/out/
**/progs/
paper_semestre1/aduja.txt
pr/
errorFiles/
templates f/
templates_old/
logs/
ml/outputs/
ml/ml_env/
ml/venv/
generated_progs/
generated_templates/
**/cp.txt
orchestrator/cp.txt
old_files/
./vscode
ml/models/
ml/divided_features/
ml/divided_features_old/
ml/csv_with_arrSize.csv